---
layout: default
title: Schedule
published: true
---
    <!--background color-->
    <script type="text/javascript">
        document.write ('<body style="background: Gainsboro; background-attachment: fixed;">')
    </script>

    <div class="event black-frame">
      <h1>{{ page.title }}</h1>

        {% assign d = 0 %}
        {% for day in site.data.schedule %}
          {% assign d = d | plus: 1 %}
          <h2>{{ day.date }}</h2>
          <table class="schedule">
              <thead>
                  <tr>
                      <th class="row-1 schedule-time">
                        <center>Time (CDT)</center>
                      </th>
                      <th class="row-2 schedule-activity"><center>Activity</center></th>
                  </tr>
              </thead>

              {% for activity in day.activities %}
                  <tr>
                      <td>{{ activity.time }}</td>
                      <td>
                        <u>{{ activity.title }}</u>
                        <b>{{ activity.speaker }}</b>
                        <i>{{ activity.location }}</i><br>
                        {{ activity.abstract }}
                      </td>
                  </tr>
              {% endfor %}
          </table>
        {% endfor %}

    </div>
