 <!-- Portfolio Modals -->
 {% for speaker in site.data.conference.speakers %}
    <div class="portfolio-modal modal fade" id="{{ speaker.name }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ speaker.title }}</h2>
                            <hr class="star-primary">
                            <img src="{{ speaker.img | prepend: "/img/speakers/" | relative_url }}" class="img-responsive img-centered" alt="{{ speaker.alt }}">
                            <h3>Topic: {{ speaker.topic }}</h3>
                            <p>{{ speaker.description }}</p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
