<!DOCTYPE html>
<html>

  {% include /html/head.html %}

    <body id="page-top" class="index">

    {% include /html/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Title<br></div>
                <div class="intro-lead-in">Date</div>
                <div class="intro-lead-in">Location</div>
                <a href="#intro" class="page-scroll btn btn-xl">Learn more</a>
            </div>
        </div>
    </header>

    {{ content }}

    </body>
</html>
